
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Home Page</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{url_for('static', filename='dist/css/bootstrap.css')}}" >
    <link rel="stylesheet" href="{{url_for('static', filename='dist/css/bootstrap-select.css')}}">

    <meta name="theme-color" content="#7952b3">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link href="{{url_for('static', filename='dist/css/cover.css')}}" rel="stylesheet">
</head>
<body>
    
<script src="{{url_for('static', filename='dist/jquery-3.6.0.min.js')}}"></script>
<script src="{{url_for('static', filename='dist/js/bootstrap.js')}}"></script>
<script src="{{url_for('static', filename='dist/js/bootstrap-select.js')}}"></script>

<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">画像検査 By Pixabay</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Features</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">Get Start With Search</h1>
                        <form class = "form-horizontal" method = "POST" action = "/search">
                            <input type="text" name = "search" maxlength="25" id = "search" class="form-control" placeholder="Search for...">
                            </br>
                            <button class="btn btn-default" type="submit">Go!</button>
                        </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>